html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2a2a2a; 
  color: #ffffff;
}

.deviceNotConnected {
  color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.operationsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.currentKnob {
  color: #ff9c0e;
}


.version {
  padding-top: 6px;
  font-size: 0.5em;
  flex: 1;
  color: #505050;
}

.hiddenField {
  display: none !important;
}

